@font-face {
    font-family: 'aver-reg';
    src: url("../font/Intelligent\ Design\ -\ AvertaStdCY-Regular_3.otf");
}

@font-face {
    font-family: 'aver-bold';
    src: url("../font/Intelligent\ Design\ -\ AvertaStdCY-Bold_1.otf");
}

*{
    padding: 0;
    margin: 0;
    font-family: 'aver-reg';
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* CSS RESET END */

body{
    background-color: rgb(255, 255, 255);
}

body.active{
    overflow: hidden;
}

.chung-khoan-page{
    max-width: 768px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/* LEFT BAR START */
.left-bar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.left-bar.active{
    z-index: 999;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.left-bar .background-left-bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-bar .content-left-bar{
    width: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    transform: translateX(-250px);
    transition: 0.5s ease-in-out;
}

.left-bar.active .content-left-bar{
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.left-bar .content-left-bar .info-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px;

}

.left-bar .content-left-bar hr{
    margin: 0;
}

.left-bar .content-left-bar .info-user a{
    color: black;
    font-size: 13.5px;
}

.left-bar .content-left-bar .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.left-bar .content-left-bar .option b{
    color: #a00814;
    font-weight: 700;
}

.left-bar .content-left-bar .option p{
    font-size: 12px;
}

.left-bar .content-left-bar .menu .item-menu{
    padding: 0px 10px;
    margin: 15px 0;
}

.left-bar .content-left-bar .menu .item-menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-bar .content-left-bar .menu .item-menu img{
    width: 20px;
    margin-right: 15px;
}

.left-bar .content-left-bar .menu .item-menu a{
    color: black;
}

/* LEFT BAR END */

/* NAVBAR START */

.navbar{
    background-color: #bf202e;
    box-shadow: 0px 2px 5px 0px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12.32px 10px;
    z-index: 2;
}

.navbar .icon{
    width: 17px;
}

.navbar .icon.micro{
    width: 9px;
}

.navbar .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #ec7272;
    padding: 5px ;
}

.navbar .search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13.5px;
    padding: 2px 5px;
    color: white;
}

.navbar .search input::placeholder {
    color: #d36b74;
}

.navbar .noti-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .noti-navbar .noti{
    width: 15px;
}

.navbar .noti-navbar .mess{
    width: 20px;
}

.navbar .btn-nav .item-btn {
    width: 28px;
    height: 4px;
    margin: 5px 0;
    background-color: white;
    border-radius: 15px;
}

/* NAVBAR END */

/* NAV BOTTOM START */

.nav-bottom {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    max-width: 768px;
    margin: auto;
}

.nav-bottom .item-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bottom .icon{
    text-align: center;
}

.nav-bottom .icon img{
    width: 30px;
}

.nav-bottom .item-nav-bottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.nav-bottom .item-nav-bottom p{
    font-size: 9.5px;
    margin-top: 5px;
}

.nav-bottom .item-nav-bottom a{
    color: black;
}

.nav-bottom .item-left{
    border-top: 2px solid #a00814;
    /* border-right: 2px solid #a00814; */
    padding: 5px 10px !important;
    border-top-right-radius: 25px;
}

.nav-bottom .item-right{
    border-top: 2px solid #a00814;
    /* border-right: 2px solid #a00814; */
    padding: 5px 10px !important;
    border-top-left-radius: 25px;
}

.nav-bottom .item-center{
    border: none;
    border-bottom: 2px solid #a00814;
    border-radius: 100%;
    margin-top: -7vw;
    padding: 3px !important;
}

.nav-bottom .item-center .circle{
    border-radius: 100%;
    height: 15.5vw;
    background-color: #a00814;
    width: 100%;
}

/* NAV BOTTOM END */

.navbar-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #bf202e;
    box-shadow: 0px 2px 5px 0px black;
    padding: 15px 10px;
    z-index: 2;
}

.navbar-page.page-act{
    background-color: transparent;
    box-shadow: none;
}

.navbar-page .icon img{
    width: 25px;
}

.navbar-page .text-nav{
    text-align: center;
}

.navbar-page .text-nav h5{
    color: white;
    font-family: 'aver-bold';
}

.navbar-page .text-nav.logo img{
    width: 100px;
}
/* NAVBAR PAGE START */
/* NAVBAR PAGE END */


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


/* MAIN START */

.main{
    overflow-y: auto;
    max-height: 90%;
    background-color: white;
    padding-bottom: 80px;
}

::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.main .actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
}

.main .actions .item-action{
    text-align: center;
}

.main .actions .icon{
    background: rgb(191,32,46);
    background: linear-gradient(180deg, rgba(191,32,46,1) 0%, rgba(141,3,3,1) 100%);
    text-align: center;
    width: 70px;
    padding: 12px 0;
    border-radius: 7px;
    box-shadow: 0px 0px 5px black;
} 

.main .actions .icon img{
    height: 18px;
}

.main .actions p{
    font-size: 12px;
    margin-top: 5px;
}

.main .actions .item-action a{
    color: black ;
}



/* LIST ITEM START */

.main .list-item .item-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.main .list-item hr{
    margin: 5px 0;
}

.main .list-item .name-item{
    text-align: left;
}

.main .list-item .name-item a{
    color: black;
}

.main .list-item .name-item p{
    font-size: 12.5px;
    color: #535353;
}

.main .list-item .chart-item img{
    max-width: 55px;
}

.main .list-item .number-item {
    text-align: right;
    font-size: 13.5px;
}


.main .list-item .number-item .number-bottom{
    font-size: 12.5px;
}

.main .list-item .more a{
    font-size: 13.5px;
    color: #535353;
    padding: 0 10px;
}

/* LIST ITEM END */

/* MAIN END */



/* MAIN CSKH PAGE START */

.main-cskh .btn-contact{
    background-color: #a00814;
    color: white;
    text-align: center;
    margin: 45px auto;
    border-radius: 7px;
}

.main-cskh .btn-contact p{
    padding: 8px 0;
}

/* MAIN CSKH PAGE END */


/* SIGNIN PAGE START */
.signin-page{
    background-image: url("../images/background-dky-page.png");
    background-position: center;
    background-size: cover;
}

.main-signin{
    padding: 10px;
}

.main-signin .form-signin{
    background-color: white;
    padding: 20px 25px;
    border-radius: 15px;
}

.main-signin .form-signin .title-form h5{
    color: #a00814;
    font-family: 'aver-bold';
    text-align: center;
}

.main-signin .form-signin .form{
    margin-top: 15px;
}

.main-signin .form-signin .form .item-form{
    margin: 10px 0;
}

.main-signin .form-signin .form .item-form p{
    padding-left: 10px;
    font-size: 13.5px;
}

.main-signin .form-signin .form .item-form input{
    outline: none;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 7px;
    padding: 5px 10px;
    border: none;
    width: 100%;
}

.main-signin .form-signin .form .item-form b{
    color: #a00814;
    font-size: 15px;
}

.main-signin .form-signin .note{
    padding: 10px 25px;
    background-color: #d5d2d2;
    border-radius: 15px;
    margin-top: 25px;
    border: 1px solid #9b9b9b;
}

.main-signin .form-signin .note .icon img{
    width: 14px;
    margin-right: 5px;
}

.main-signin .form-signin .note .title-note{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}

.main-signin .form-signin .note ul{
    font-size: 13.5px;
}

.btn-submit{
    background-color: #a00814;
    color: white;
    text-align: center;
    margin: 25px auto;
    border-radius: 7px;
}

.btn-submit p{
    padding: 8px 0;
}


/* SIGNIN PAGE END */


/* HISTORY PAGE START */

.nav-mini {
    box-shadow: 0px 0px 5px 0px black;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}

.nav-mini .item-mini{
    width: 25%;
    text-align: center;
}

.nav-mini b{
    display: block;
    padding: 5px 0;
    font-size: 13.5px;
}

.list-item-history .item-history{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13.5px;
}

.list-item-history .item-history .detail-item{
    width: 25%;
    text-align: center;
    padding: 5px 0;
}

.list-item-history .item-history .detail-item .success{
    color: #06b22a;
}

.list-item-history .item-history .detail-item .fail{
    color: #bf202e;
}

.list-item-history hr{
    margin: 0;
}

/* HISTORY PAGE END */

/* CHANGE PASS START */

.main-change-pass .form-signin{
    background-color: transparent;
    padding: 20px 15px;
    border-radius: 0;
}

.change-pass-page{
    background-image: none;
}

/* CHANGE PASS END */

/* PAYMENT PAGE START */

.payment-page{
    padding: 0;
    margin: 15px 0;
}

.payment-page .detail-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.payment-page .detail-user p{
    font-size: 13.5px;
}

.payment-page .detail-user .avatar img{
    max-width: 100px;
}

/* PAYMENT PAGE END */

/* FORGOT PASS PAGE START */

.forgot-pass-page .form-signin{
    box-shadow: 0px 0px 5px 0px black;
}

.forgot-pass-page .main-signin{
    padding: 15px ;
}

.forgot-pass-page .form-signin .name-option{
    text-align: center;
    margin-top: 15px;
}

.forgot-pass-page .form-signin .item-option{
    margin-top: 25px;
    font-size: 13.5px;
}

.forgot-pass-page .form-signin .item-option .btn-submit{
    margin: 10px auto;
}

.btn-submit a{
    color: white;
}

/* FORGOT PASS PAGE END */