@font-face {
    font-family: 'aver-reg';
    src: url("../font/Intelligent\ Design\ -\ AvertaStdCY-Regular_3.otf");
}

@font-face {
    font-family: 'aver-bold';
    src: url("../font/Intelligent\ Design\ -\ AvertaStdCY-Bold_1.otf");
}

*{
    padding: 0;
    margin: 0;
    font-family: 'aver-reg';
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* CSS RESET END */

body{
    background-color: rgb(255, 255, 255);
}

body.active{
    overflow: hidden;
}

.chung-khoan-page{
    max-width: 500px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/* LEFT BAR START */
.left-bar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.left-bar.active{
    z-index: 999;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.left-bar .background-left-bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-bar .content-left-bar{
    width: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    transform: translateX(-250px);
    transition: 0.5s ease-in-out;
}

.left-bar.active .content-left-bar{
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.left-bar .content-left-bar .info-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px;

}

.left-bar .content-left-bar hr{
    margin: 0;
}

.left-bar .content-left-bar .info-user a{
    color: black;
    font-size: 13.5px;
}

.left-bar .content-left-bar .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.left-bar .content-left-bar .option b{
    color: #a00814;
    font-weight: 700;
}

.left-bar .content-left-bar .option p{
    font-size: 12px;
}

.left-bar .content-left-bar .menu .item-menu{
    padding: 0px 10px;
    margin: 15px 0;
}

.left-bar .content-left-bar .menu .item-menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-bar .content-left-bar .menu .item-menu img{
    width: 20px;
    margin-right: 15px;
}

.left-bar .content-left-bar .menu .item-menu a{
    color: black;
}

/* LEFT BAR END */

/* NAVBAR START */

.navbar{
    background-color: #bf202e;
    box-shadow: 0px 2px 5px 0px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12.32px 10px;
    z-index: 2;
}

.navbar .icon{
    width: 17px;
}

.navbar .icon.micro{
    width: 9px;
}

.navbar .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #ec7272;
    padding: 5px ;
}

.navbar .search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13.5px;
    padding: 2px 5px;
    color: white;
}

.navbar .search input::placeholder {
    color: #d36b74;
}

.navbar .noti-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .noti-navbar .noti{
    width: 15px;
}

.navbar .noti-navbar .mess{
    width: 20px;
}

.navbar .btn-nav .item-btn {
    width: 28px;
    height: 4px;
    margin: 5px 0;
    background-color: white;
    border-radius: 15px;
}

/* NAVBAR END */

/* NAV BOTTOM START */

.nav-bottom {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    max-width: 500px;
    margin: auto;
}

.nav-bottom .item-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bottom .icon{
    text-align: center;
}

.nav-bottom .icon img{
    width: 30px;
}

.nav-bottom .item-nav-bottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.nav-bottom .item-nav-bottom p{
    font-size: 9.5px;
    margin-top: 5px;
}

.nav-bottom .item-nav-bottom a{
    color: black;
}

.nav-bottom .item-left{
    border-top: 2px solid #a00814;
    /* border-right: 2px solid #a00814; */
    padding: 5px 10px !important;
    border-top-right-radius: 25px;
}

.nav-bottom .item-right{
    border-top: 2px solid #a00814;
    /* border-right: 2px solid #a00814; */
    padding: 5px 10px !important;
    border-top-left-radius: 25px;
}

.nav-bottom .item-center{
    border: none;
    border-bottom: 2px solid #a00814;
    border-radius: 100%;
    margin-top: -40px;
    padding: 3px !important;
}

.nav-bottom .item-center .circle{
    border-radius: 100%;
    max-height: 80px;
    height: 15.5vw;
    background-color: #a00814;
    width: 100%;
    max-width: 80px;
}

/* NAV BOTTOM END */

.navbar-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #bf202e;
    box-shadow: 0px 2px 5px 0px black;
    padding: 15px 10px;
    z-index: 2;
}

.navbar-page.page-act{
    background-color: transparent;
    box-shadow: none;
}

.navbar-page .icon img{
    width: 25px;
}

.navbar-page .text-nav{
    text-align: center;
}

.navbar-page .text-nav h5{
    color: white;
    font-family: 'aver-bold';
}

.navbar-page .text-nav.logo img{
    width: 100px;
}
/* NAVBAR PAGE START */
/* NAVBAR PAGE END */


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


/* MAIN START */

.main{
    overflow-y: auto;
    max-height: 90%;
    background-color: white;
    padding-bottom: 80px;
}

::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.main .actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
}

.main .actions .item-action{
    text-align: center;
}

.main .actions .icon{
    background: rgb(191,32,46);
    background: linear-gradient(180deg, rgba(191,32,46,1) 0%, rgba(141,3,3,1) 100%);
    text-align: center;
    width: 70px;
    padding: 12px 0;
    border-radius: 7px;
    box-shadow: 0px 0px 5px black;
} 

.main .actions .icon img{
    height: 18px;
}

.main .actions p{
    font-size: 12px;
    margin-top: 5px;
}

.main .actions .item-action a{
    color: black ;
}



/* LIST ITEM START */

.main .list-item .item-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.main .list-item hr{
    margin: 5px 0;
}

.main .list-item .name-item{
    text-align: left;
}

.main .list-item .name-item a{
    color: black;
}

.main .list-item .name-item p{
    font-size: 12.5px;
    color: #535353;
}

.main .list-item .chart-item img{
    max-width: 55px;
}

.main .list-item .number-item {
    text-align: right;
    font-size: 13.5px;
}


.main .list-item .number-item .number-bottom{
    font-size: 12.5px;
}

.main .list-item .more a{
    font-size: 13.5px;
    color: #535353;
    padding: 0 10px;
}

/* LIST ITEM END */

/* MAIN END */



/* MAIN CSKH PAGE START */

.main-cskh .btn-contact{
    background-color: #a00814;
    color: white;
    text-align: center;
    margin: 45px auto;
    border-radius: 7px;
}

.main-cskh .btn-contact p{
    padding: 8px 0;
}

/* MAIN CSKH PAGE END */


/* SIGNIN PAGE START */
.signin-page{
    background-image: url("../images/background-dky-page.png");
    background-position: center;
    background-size: cover;
}

.main-signin{
    padding: 10px;
}

.main-signin .form-signin{
    background-color: white;
    padding: 20px 25px;
    border-radius: 15px;
}

.main-signin .form-signin .title-form h5{
    color: #a00814;
    font-family: 'aver-bold';
    text-align: center;
}

.main-signin .form-signin .form{
    margin-top: 15px;
}

.main-signin .form-signin .form .item-form{
    margin: 10px 0;
}

.main-signin .form-signin .form .item-form p{
    padding-left: 10px;
    font-size: 13.5px;
}

.main-signin .form-signin .form .item-form input{
    outline: none;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 7px;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid gainsboro;
}

.main-signin .form-signin .form .item-form b{
    color: #a00814;
    font-size: 15px;
}

.main-signin .form-signin .note{
    padding: 10px 25px;
    background-color: #d5d2d2;
    border-radius: 15px;
    margin-top: 25px;
    border: 1px solid #9b9b9b;
}

.main-signin .form-signin .note .icon img{
    width: 14px;
    margin-right: 5px;
}

.main-signin .form-signin .note .title-note{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}

.main-signin .form-signin .note ul{
    font-size: 13.5px;
}

.btn-submit{
    background-color: #a00814;
    color: white;
    text-align: center;
    margin: 25px auto;
    border-radius: 7px;
}

.btn-submit p{
    padding: 8px 0;
}


/* SIGNIN PAGE END */


/* HISTORY PAGE START */

.nav-mini {
    box-shadow: 0px 0px 5px 0px black;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}

.nav-mini .item-mini{
    width: 25%;
    text-align: center;
}

.nav-mini b{
    display: block;
    padding: 5px 0;
    font-size: 13.5px;
}

.list-item-history .item-history{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13.5px;
}

.list-item-history .item-history .detail-item{
    width: 25%;
    text-align: center;
    padding: 5px 0;
}

.list-item-history .item-history .detail-item .success{
    color: #06b22a;
}

.list-item-history .item-history .detail-item .fail{
    color: #bf202e;
}

.list-item-history hr{
    margin: 0;
}

/* HISTORY PAGE END */

/* CHANGE PASS START */

.main-change-pass .form-signin{
    background-color: transparent;
    padding: 20px 15px;
    border-radius: 0;
}

.change-pass-page{
    background-image: none;
}

/* CHANGE PASS END */

/* PAYMENT PAGE START */

.payment-page{
    padding: 0;
    margin: 15px 0;
}

.payment-page .detail-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.payment-page .detail-user p{
    font-size: 13.5px;
}

.payment-page .detail-user .avatar img{
    max-width: 100px;
}

/* PAYMENT PAGE END */

/* FORGOT PASS PAGE START */

.forgot-pass-page .form-signin{
    box-shadow: 0px 0px 5px 0px black;
}

.forgot-pass-page .main-signin{
    padding: 15px ;
}

.forgot-pass-page .form-signin .name-option{
    text-align: center;
    margin-top: 15px;
}

.forgot-pass-page .form-signin .item-option{
    margin-top: 25px;
    font-size: 13.5px;
}

.forgot-pass-page .form-signin .item-option .btn-submit{
    margin: 10px auto;
}

.btn-submit a{
    color: white;
}

/* FORGOT PASS PAGE END */

/* BANK ACOUNT PAGE START */
.bank-acount .form-signin{
    box-shadow:none;
    padding: 0;
}

/* BANK ACOUNT PAGE END */

/* SETTING PAGE START */

.setting-page .main{
    padding: 0;
}

.setting-page .main .nav-mini{
    box-shadow: 0px 0px 5px 0px black;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
}

.setting-page .main .menu .item-menu{
    padding: 0px 15px;
}

.setting-page .main .menu .item-menu a{
    padding: 10px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: black;
}

.setting-page .main .menu .item-menu .icon img{
    width: 22px;
    margin-right: 10px;
}

.setting-page .nav-mini b{
    font-size: 17px;
}


/* SETTING PAGE END */

/* ACCOUNT PAGE START */

.main-account{
    margin: 25px 0;
}

.main-account .account-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-account .account-info .avatar,
.main-account .account-info .user-name{
    position: relative;
}

.main-account .account-info .avatar .btn-edit{
    width: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-account .account-info .user-name {
    width: max-content;
    margin: 15px 0;
}

.main-account .account-info .user-name h3{
    font-family: "aver-bold";
}

.main-account .account-info .user-name .btn-edit{
    width: 15px;
    position: absolute;
    right: -20px;
    bottom: 2px;
}

.account-page .actions{
    flex-wrap: wrap;
    margin-top: 35px;
}

.account-page .actions .item-action a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}


/* ACCOUNT PAGE END */

button{
    background-color: transparent;
    border: none;
    outline: none;
}



/* MARKET PAGE START */

.main-market .nav-mini{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
}

.main-market .nav-mini button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-market .nav-mini .icon img{
    width: 12px;
    margin: 0px 5px;
}

.main-market .market{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99;
    transition: 0.5s ease-in-out;
    transform: translateY(-100vh);
}

.main-market .market.active{
    transform: translateY(0);
    z-index: 99;
    transition: 0.5s ease-in-out;
}

.main-market .market .bg-market{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.main-market .market .list-market{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 15px;
}

.main-market .market .list-market .item-market{
    box-shadow: 0px 0px 5px 0px black;
    border: 1px solid gray;
    border-radius: 7px;
    background-color: white;
    margin: 15px 0;
    text-align: center;
    padding: 5px;
}

.main-market .market .btn-submit{
    margin: 10px 0;
}

/* MARKET PAGE END */

/* VALIDATE PAGE START */

.validate-page .form-signin{
    padding: 15px ;
}

.validate-page .form-signin .item-form{
    margin: 15px 0
}

.validate-page .form-signin .item-form .btn-image{
    border: 1px solid gainsboro;
    margin: 5px 0;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px black;
}

.validate-page .form-signin .item-form button{
    height: 30px;
    width: 30px;
    font-size: 15px;
    border: 1px solid #9b9b9b;
    border-radius: 100%;
}

.validate-page .form-signin .item-form button p{
    padding-left: 0 !important;
    margin: 0;
    font-family: 'aver-bold';
    color: #9b9b9b;
}

/* VALIDATE PAGE END */


/* LOGIN PAGE START */

.login-page{
    background-image: url("../images/background-login.png");
    background-size: cover;
    background-position: center;
}

.main-signin{
    height: 80vh;
    margin: auto;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.login-page .navbar-page{
    margin-top: 50px;
}

.login-page .main-signin .form-login{
    padding: 15px 35px;
}

.login-page .main-signin .form-login .item-form{
    margin: 20px 0;
}

.login-page .main-signin .form-login .item-form input{
    outline: none;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    width: 100%;
    border: 1px solid gainsboro;
}

.login-page .main-signin .form-login .item-form-submit .btn-submit {
    background-color: #a00a25;
    color: white;
    text-align: center;
    border-radius: 7px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .main-signin .form-login .item-form-submit{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.login-page .main-signin .form-login .item-form-submit .btn-submit button{
    text-align: center;
}

.login-page .main-signin .form-login .item-form-submit .btn-submit button p{
    color: white;
}

.login-page .main-signin .form-login .item-form-submit .faceid{
    padding-left: 10px !important;
}

.login-page .main-signin .form-login .item-form-submit .faceid button{
    padding: 5px !important;
    border-radius: 5px;
    background-color: #333333;
}

.login-page .main-signin .actions .icon{
    background-color: white;
    background: white;
    box-shadow: none;
    width: 60px;
}

.login-page .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.login-page .nav a{
    color: black;
    font-size: 13.5px;
}

/* LOGIN PAGE END */

/* CHANGE MARKET START */

.main-change-market .form-search{
    margin: 15px 10px;
    border: 1px solid #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

.main-change-market .form-search .icon img{
    width: 18px;
    margin-right: 10px;
}

.main-change-market .form-search input{
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    width: 100%;
}

.main-change-market .nav-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5px 10px;
}

.main-change-market .nav-number .item-nav-number{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-change-market .nav-number .item-nav-number p{
    font-size: 10px;
}

.main-change-market .nav-number .item-nav-number .big-number{
    font-size: 30px;
    margin-right: 7px;
    font-weight: 900;
    color: #07d2ff;
}

.main-change-market .nav-number .item-nav-number .min-number{
    color: #07d2ff;
}

.main-change-market .nav-number .item-nav-number .detail-number-tran{
    color: #fa2626;
    font-size: 13px;
}

.main-change-market .nav-number .item-nav-number .detail-number-tc{
    color: #fbdb02;
    font-size: 13px;
}

.main-change-market .nav-number .item-nav-number .detail-number-san{
    color: #49a1f3;
    font-size: 13px;
}

.main-change-market .chart .item-chart{
    width: 100%;
    height: 13px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-change-market .chart .item-chart .chart-left{
    height: 13px;
    background-color: #7cdeb5;
}

.main-change-market .chart .item-chart .chart-right{
    height: 13px;
    background-color: #f65c5c;
}

.main-change-market .chart .big-chart .title-chart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    font: 13px;
}

.main-change-market .chart .big-chart .item-chart{
    margin: 2px 0;
}

.main-change-market .chart .big-chart .item-chart{
    height: 15px;
}

.main-change-market .chart .big-chart .item-chart .chart-left{
    height: 15px;
    background-color: #07a455;
}

.main-change-market .chart .big-chart .item-chart .chart-right{
    height: 15px;
    background-color: #ce0719;
}

.main-change-market .form{
    margin: 15px 10px;
}

.main-change-market .form .item-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0;
}

.main-change-market .form .item-form input{
    outline: none;
    box-shadow: 0px 0px 2px 0px black;
    border-radius: 7px;
    padding: 2px 10px;
    border: none;
    width: 100%;
    border: 1px solid gainsboro;
}

.main-change-market .form .item-form .input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.main-change-market .form .item-form .input .col-4{
    padding: 2px !important;
}

.main-change-market .form .item-form .input button{
    background-color: white;
    color: black;
    padding: 10px 0 !important;
    border-radius: 7px;
    border: 1px solid rgb(175, 175, 175);
}

.main-change-market .form .item-form .input button.active{
    background-color: #a00814;
    color: white;
}

.main-change-market .form .item-form .input button.active select{
    color: white;
}

.main-change-market .form .item-form .input button select{
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}

.main-change-market .form .item-form .input button select option {
    background-color: #a00814  !important;
    border: none !important;
    text-align: center !important;
}

.main-change-market .form .item-form .col-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
}

.main-change-market .btn-submit{
    box-shadow: 0px 0px 3px 0px black;
}

.main-change-market .btn-submit p{
    color: white !important;
}
  





/* CHANGE MARKET END */