@font-face {
    font-family: 'aver-reg';
    src: url("../font/Intelligent\ Design\ -\ AvertaStdCY-Regular_3.otf");
}

@font-face {
    font-family: 'aver-bold';
    src: url("../font/Intelligent\ Design\ -\ AvertaStdCY-Bold_1.otf");
}

*{
    padding: 0;
    margin: 0;
    font-family: 'aver-reg';
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* CSS RESET END */

body{
    background-color: rgb(240, 240, 240);
}

.chung-khoan-page{
    max-width: 768px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/* LEFT BAR START */
.left-bar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.left-bar.active{
    z-index: 999;
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.left-bar .background-left-bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-bar .content-left-bar{
    width: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    transform: translateX(-250px);
    transition: 0.5s ease-in-out;
}

.left-bar.active .content-left-bar{
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.left-bar .content-left-bar .info-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 15px 10px;

}

.left-bar .content-left-bar hr{
    margin: 0;
}

.left-bar .content-left-bar .info-user a{
    color: black;
    font-size: 13px;
}

.left-bar .content-left-bar .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
}

.left-bar .content-left-bar .option b{
    color: #a00814;
    font-weight: 700;
}

.left-bar .content-left-bar .option p{
    font-size: 12px;
}

.left-bar .content-left-bar .menu .item-menu{
    padding: 0px 10px;
    margin: 15px 0;
}

.left-bar .content-left-bar .menu .item-menu a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-bar .content-left-bar .menu .item-menu img{
    width: 20px;
    margin-right: 15px;
}

.left-bar .content-left-bar .menu .item-menu a{
    color: black;
}

/* LEFT BAR END */

/* NAVBAR START */

.navbar{
    background-color: #bf202e;
    box-shadow: 0px 3px 5px 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.navbar .icon{
    width: 17px;
}

.navbar .icon.micro{
    width: 9px;
}

.navbar .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #ec7272;
    padding: 5px ;
}

.navbar .search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13px;
    padding: 2px 5px;
    color: white;
}

.navbar .search input::placeholder {
    color: #d36b74;
}

.navbar .noti-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .noti-navbar .noti{
    width: 15px;
}

.navbar .noti-navbar .mess{
    width: 20px;
}

.navbar .btn-nav .item-btn {
    width: 28px;
    height: 4px;
    margin: 5px 0;
    background-color: white;
    border-radius: 15px;
}

/* NAVBAR END */
